.FormButton {
	background-color:#c0d1d5;
	color:black;
	border-style: solid;
	margin:10px 0px 0px 0px;
	margin-right:-3px;
	padding:10px 10px 10px 10px;
	border-style:none;
	border-width:0px;
	
	


}
	.FormButton:hover {
		background-color:#058ef5;
		color:white;
	}
.AtroxForm {
	
}

.FirstElement {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.LastElement {
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}


.FormLabel {
	width:150px;
	color:#555252;
	display:inline-block;
	margin-right:10px;
}

    .AtroxTextBox {
    padding: 1px 20px;
    border: 0;
    height: 25px;
    width: 150px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
	transition:ease all 500ms;
	margin-top:10px;
}

		.AtroxTextBox:focus {
			border:3px;
			border-style:solid;
			border-color:#058ef5;
			border-radius:0px;
			width:250px;

		}

		.AtroxTextBox:hover {
			border:3px;
			border-radius:0px;
			width:300px;
		}


